:root {
    --color-header: #3f3567;
    --white-color: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Tahoma,sans-serif,Helvetica,Arial;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--white-color);
}

input, button {
    outline: none;
    border: none;
}