.wrapper {
}

.title {
    text-align: center;

    .name {
        font-size: 2.8rem;
    }
}

.info {
    display: flex;
    padding-top: 15px;
}

.grid-img {
    padding: 0px 15px;

    img {
        width: 100%;
    }
}

.box-right {
}

.detail {
    padding-bottom: 10px;
    display: flex;
}

.updating {
}
