.wrapper {
    width: 100%;
    height: 50px;
    background-color: var(--color-header);
    display: flex;
    z-index: 10;
    justify-content: center;
}

.inner {
    width: 1031px;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    display: block;
    line-height: 45px;
    height: 100%;
    img {
        vertical-align: middle;
    }
}

//accout

.grid-accout {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.pic-user {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon-down {
    transform: translateY(-20%);
}

//btn toggle

.navbar-toggle {
    position: relative;
}

.btn-toggle {
    width: 40px;
    padding: 3px 0px;
    background-color: #d0b32e;
    border-radius: 4px;
    font-size: 3rem;
    color: var(--white-color);
    cursor: pointer;

    &:hover {
        background-color: #bda229;
    }
}

.navbar-toggle {
    display: none;
}

//reponsive

//cứng

@media (max-width: 770px) {
    .grid-accout {
        display: none;
    }
}

@media (max-width: 1024px) {
    .inner {
        max-width: 800px;
    }
}

@media (max-width: 770px) {
    .inner {
        max-width: 800px;
    }
}

// @media (max-width: 770px) {
//     .inner {
//         max-width: 720px;
//     }
// }
