.wrapper {
    max-width: 400px;
    width: 100%;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
}

.input-search {
    padding: 3px 12px;
    font-size: 1.6rem;
    line-height: 1.8;
    display: flex;
    flex: 1;
}

.icon-load {
    color: var(--black--color);
    padding: 5px;
}
