.wrapper {
    display: flex;
    align-items: center;
    max-width: 340px;
    width: 100%;
    background-color: var(--white-color);
}

.inputHeader {
    padding: 5px 10px;
    flex: 1;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: transparent;
}

.presently {
    display: flex !important;
}

//reponsive

@media (max-width: 770px) {
    .wrapper {
        display: none;
    }
}
