.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 25%;
    position: relative;
    margin-bottom: 10px;
}

//reponsive

@media (min-width: 530px) and (max-width: 770px) {
    .item {
        width: 33.33333333% !important;
    }
}

@media (min-width: 350px) and (max-width: 530px) {
    .item {
        width: 50% !important;
    }
}

@media (max-width: 350px) {
    .item {
        width: 100% !important;
        // height: 260px;
    }
}
