:root {
    --height-wrap: 35px;
}

.wrapper {
    width: 100%;
    height: var(--height-wrap);
    background-color: #e4e4e4;
    z-index: 20;
}

.inner {
    max-width: 1000px;
    width: 100%;
    height: var(--height-wrap);
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: inline-block;
    line-height: var(--height-wrap);
    position: relative;

    &:hover {
        background-color: #ebebeb;
    }

    &:hover .dropdown {
        display: block;
    }
}

.item + .item {
    border-left: 1px solid #ddd;
}

.dropdown {
    display: none;
}

.link {
    display: block;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.5rem;
    min-width: 45px;
    text-align: center;
    padding: 0px 8px;
}

//reponsive

@media (max-width: 1024px) {
    .item-7,
    .item-8,
    .item-10 {
        display: none;
    }
    .inner {
        max-width: 770px;
    }
}

@media (max-width: 770px) {
    .wrapper {
        display: none;
    }
}
